cnnfromscratch_model
inceptionV3_model
mobilenetv2_model
alexnet_model
resnet50_model
VGG19_model
cnnfromscratch_model.zip
inceptionV3_model.zip
mobilenetv2_model.zip
alexnet_model.zip
resnet50_model.zip
VGG19_model.zip 